<section id="header">
    <h1>Menu</h1>
    <h3> <%= @date.strftime("%A, %d/%m") %> </h3>
    <%= link_to "&#8249; Previous".html_safe, index_path(day_shift: @day_shift - 1), :class => "btn btn-primary" %>
    <%= link_to "Next &#8250;".html_safe, index_path(day_shift: @day_shift + 1), :class => "btn btn-primary"  %>
</section>
<div class="container">
    <div class="row">
        <% @all_menus.each do |restaurant| %>
            <%= render partial: "restaurant", locals: { data: restaurant } %>
        <% end %>
    </div>
</div>

<script>
    window.onscroll = function scrollFunction() {
        var header = document.getElementById("header");
            if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                header.style.fontSize = "0.8rem";
                header.querySelector("h1").style.fontSize = "0px";
                header.classList.add("shadow");
            } else {
                header.querySelector("h1").style.fontSize = "";
                header.style.fontSize = "1rem";
                header.classList.remove("shadow");
            }
        }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>