// Place all the styles related to the Mainpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
    text-align: center;
    padding-bottom: 5px;
    transition: 0.2s;
    z-index: 99;

    a {
        font-size: 1em;
    }

    h3 {
        font-size: 1.75em;
    }
}

.shadow {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.container {
    text-align: center;
    width: 96% !important;

    .restaurant {
        font-size: 0.7em;
        background-color: #f5f5f5;
        border: 1px solid grey;

        .restauran-header {
            font-size: 3em;
        }

        .category {
            >.title_en {
                font-size: 1.2em;
                font-style: italic;
                color: gray;
                text-transform: uppercase;
            }

            >.title_fi {
                font-size: 1.4em;
                text-transform: uppercase;
            }

            border-bottom-color: gray;
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }

        .item {
            text-align: left;
            padding-top: 1em;

            .title_fi {
                font-size: 1.2em;
            }

            .title_en {
                font-size: 1.1em;
                font-style: italic;
                color: gray;
            }

            .properties {
                margin-left: 1em;
                font-size: 0.8em;
                color: gray;
            }
        }

        .special-meal {
            background-color: #fffc7a2e;
        }

    }

    .out-of-service {
        // background-color: #8080805c;
        font-size: 2em;
        height: 300px;
        display: block;
        color: #ada9a9;
        position: relative;

        span.message {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0
        }
    }
}